flows.json
[{"id":"7f5ccc85.9f23f4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6e024dd0.5729b4","type":"function","z":"7f5ccc85.9f23f4","name":"PreToken","func":"global.set(\"Concrete\",msg.payload.Concrete)\nglobal.set(\"Blast_Furnace_Slag\",msg.payload.Blast_Furnace_Slag)\nglobal.set(\"Fly_Ash\",msg.payload.Fly_Ash)\nglobal.set(\"Water\",msg.payload.Water)\nglobal.set(\"Superplasticizer\",msg.payload.Superplasticizer)\nglobal.set(\"Coarse_Aggregate\",msg.payload.Coarse_Aggregate)\nglobal.set(\"Fine_Aggregate\",msg.payload.Fine_Aggregate)\nglobal.set(\"Age\",msg.payload.Age )\nvar apikey=\"ohNSwu6vrbvmb8s2aTSP9-1YFKS3x318fxcFTUx8IcYi\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"x":255,"y":316.0000047683716,"wires":[["c0ff69a3.82c148"]]},{"id":"c0ff69a3.82c148","type":"http request","z":"7f5ccc85.9f23f4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":454,"y":305,"wires":[["7a96499b.f4fa18"]]},{"id":"7ea43af0.3ec9d4","type":"debug","z":"7f5ccc85.9f23f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":893.0000114440918,"y":47.00000190734863,"wires":[]},{"id":"7a96499b.f4fa18","type":"function","z":"7f5ccc85.9f23f4","name":"Pre Prediction","func":"var Concrete = global.get('Concrete')\nvar Blast_Furnace_Slag = global.get('Blast_Furnace_Slag')\nvar Fly_Ash = global.get('Fly_Ash')\nvar Water = global.get('Water')\nvar Superplasticizer = global.get('Superplasticizer')\nvar Coarse_Aggregate = global.get('Coarse_Aggregate')\nvar Fine_Aggregate = global.get('Fine_Aggregate')\nvar Age = global.get('Age')\nvar token=msg.payload.access_token\nvar instance_id=\"ffc80059-4c99-4fec-91c9-062368cdec10\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Cement (component 1)(kg in a m^3 mixture)\", \"Blast Furnace Slag (component 2)(kg in a m^3 mixture)\", \"Fly Ash (component 3)(kg in a m^3 mixture)\", \"Water  (component 4)(kg in a m^3 mixture)\", \"Superplasticizer (component 5)(kg in a m^3 mixture)\", \"Coarse Aggregate  (component 6)(kg in a m^3 mixture)\", \"Fine Aggregate (component 7)(kg in a m^3 mixture)\", \"Age (day)\"],\"values\": [[Concrete,Blast_Furnace_Slag,Fly_Ash,Water,Superplasticizer,Coarse_Aggregate,Fine_Aggregate, Age]]}]}\nreturn msg;\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":651.0000076293945,"y":268.00000381469727,"wires":[["d1e8dbab.e36cd8"]]},{"id":"d1e8dbab.e36cd8","type":"http request","z":"7f5ccc85.9f23f4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/0fef1fe0-84eb-47bb-90e8-6c9c7350d267/predictions","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":200,"wires":[["8a75a5f3.6705e8","7ea43af0.3ec9d4"]]},{"id":"8a75a5f3.6705e8","type":"function","z":"7f5ccc85.9f23f4","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":604.6000366210938,"y":107.60000610351562,"wires":[["b194b146.1a52b","7ea43af0.3ec9d4"]]},{"id":"c29990d4.0c154","type":"ui_form","z":"7f5ccc85.9f23f4","name":"","label":"","group":"9323f063.0f4f","order":1,"width":0,"height":0,"options":[{"label":"Concrete","value":"Concrete","type":"number","required":true,"rows":null},{"label":"Blast Furnace Slag","value":"Blast_Furnace_Slag","type":"number","required":true,"rows":null},{"label":"Fly Ash","value":"Fly_Ash","type":"number","required":true,"rows":null},{"label":"Water","value":"Water","type":"number","required":true,"rows":null},{"label":"Superplasticizer","value":"Superplasticizer","type":"number","required":true,"rows":null},{"label":"Coarse Aggregate  ","value":"Coarse_Aggregate","type":"number","required":true,"rows":null},{"label":"Fine Aggregate","value":"Fine_Aggregate","type":"number","required":true,"rows":null},{"label":"Age ","value":"Age ","type":"number","required":true,"rows":null}],"formValue":{"Concrete":"","Blast_Furnace_Slag":"","Fly_Ash":"","Water":"","Superplasticizer":"","Coarse_Aggregate":"","Fine_Aggregate":"","Age ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":360,"wires":[["6e024dd0.5729b4"]]},{"id":"b194b146.1a52b","type":"ui_text","z":"7f5ccc85.9f23f4","group":"9323f063.0f4f","order":2,"width":0,"height":0,"name":"","label":"Concrete compressive strength","format":"{{msg.payload}}","layout":"row-spread","x":852.6000366210938,"y":364.20001220703125,"wires":[]},{"id":"9323f063.0f4f","type":"ui_group","z":"","name":"Default","tab":"182c2717.631d99","order":1,"disp":true,"width":"6","collapse":false},{"id":"182c2717.631d99","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]